
.responsive{
    width:100%;
    height:auto;
    margin-top:2px;
}
.rectangle1{
    position: absolute;
width: 32vw;
height: 50vh;
background-color:black;
margin-top:2rem;
margin-left:1rem;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}
.rectangle2{
    position: absolute;
width: 39vw;
height: 50vh;
left: 32%;
bottom:-48vh;
display:none;
mix-blend-mode: darken;
border-bottom: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
transform: rotate(-1.5deg);
}
.rectangle3{
    position: absolute;
width: 32vw;
height: 50vh;
left: 69%;
margin-top:2rem;
margin-left:1rem;
background-color:black;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.title{
    position:absolute;
    left: 35%;
    font-family: cursive;
    text-decoration:underline;
    font-size:4rem;
    /*transform: rotate(-4.5deg);*/
    color:black;
    /*background-color:#00c3ff;*/
    border-radius:5px;

}
.bg-grey{
--bs-bg-opacity: 1;
background-color: gray;
}
.box1{
    background-color:#aad5df;;
    width:80%;
    height:90vh;
    border:3px dashed green;
    margin:2rem;
    position:relative;

    left:10vw;

}
#exampledesc{
    height:10vh;
}
.form-control{
    width:50%;
}
.subimg{
    width: 25vw;
height: auto;
position: absolute;
left: 50vw;
top: 9vh;
}
.thead{
    color: black;
font-family: ;
text-align: center;
color:crimson;
margin: 1rem;
}
.pimg{
    position:absolute;
    width:10vw;
    border-radius:50%;
    border:1px solid red;
    left:45%;
    margin :.8rem;
    background-color: #b0ddce;

}
.pitem{
    position:absolute;
    list-style:none;
    display: block ruby;
    left: 35%;
    top: 40%;
}
.p-li{
    background-color:aliceblue;
    margin:.8rem;
    border:2px solid black;
    border-radius:20%;
    padding:.4rem;
}
.projects{
    background-color:lightgreen;
    position:relative;
    top:40vh;
    padding:2rem;
    align-content:center;
}
.projects .thead{
    font-family: fantasy, Arial, fantasy;
    color:black;
}
.divperpost{
    padding:1rem;
    background-color:aliceblue;
    width:51%;
    left: 23%;
    position: relative;
    margin:2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgpost{
   width: 10vw;
left: 78%;
position: absolute;
top: 22%;
}
.desc{
     position:absolute;
    left: 38%;
    bottom:10%;
    font-family: chalboard;
    font-size:1.6rem;
    color:black;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background: aliceblue;
   margin-top:2vh;
}
.boximg{
  width: 81%;
height: 69vh;
display: flex;
position: relative;
top: -49px;
}
body
{
    background-color: antiquewhite;
}
.msg-box
{   width:70%;
    background-color:red;
    border:2px solid red;
    display:none;
}
marquee{
    color :red;
    font-size:1.2rem;
}
.counter-box
{
   width: 100%;
background-color: aliceblue;
height: 20vh;
border: 2px solid blue;
position: absolute;
top: 130%;
margin-left: 2rem;
font-size:2rem;
display:flex;
}
.ucounter
{
    display:flex;
    width:34.33%;
    border-right:2px solid black;
    color:red;
    font-size:2.8rem;
}
.pcounter
{
      display:flex;
      padding:5px;
    width:33.33%;

    color:red;
    font-size:2.8rem;
}
.modal-body
{
    position: relative;
flex: 1 1 auto;
padding: 1rem;
display: contents;
}
.form-control
{
    display:inline;
      margin: .3rem;

  margin-right: 2rem;
}
}